<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <!--  Access the application.properties file to retrieve spring.application.name and make it available under appName -->
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
        <labels>
            app = ${appName}
            host = ${HOSTNAME}
            traceID=%X{traceId:-NONE}
            level=%level
        </labels>
        <message>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </message>
        <verbose>true</verbose>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
</configuration>